body {
  background-color: black !important; 
}

.white-line { width: 180px; background-color: white; color: white; border: none; height: 1px; float: left; }



/* EDITOR PROPERTIES - PLEASE DON'T DELETE THIS LINE TO AVOID DUPLICATE PROPERTIES */
