<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT GenericPage ANY>
<!ATTLIST GenericPage id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Navigation ANY>
<!ATTLIST Navigation id ID #REQUIRED>
<!ELEMENT Projects ANY>
<!ATTLIST Projects id ID #REQUIRED>
<!ELEMENT Utility ANY>
<!ATTLIST Utility id ID #REQUIRED>
<!ELEMENT Website ANY>
<!ATTLIST Website id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1071" parentID="-1" level="1" writerID="1" creatorID="0" nodeType="1050" template="1231" sortOrder="2" createDate="2012-01-06T17:00:42" updateDate="2022-08-18T20:48:34" nodeName="Enco" urlName="enco" writerName="peterb" creatorName="admin" path="-1,1071" isDoc="">
    <projecttitle>Enco Engineering - Part of PM Design Group</projecttitle>
    <projectKeyword>Enco Engineering - Part of PM Design Group</projectKeyword>
    <projectDiscription><![CDATA[Enco Engineering - Part of PM Design Group]]></projectDiscription>
    <copyright>Copyright &amp;copy; 2015 Enco Engineering&lt;br/&gt;&lt;a href="http://www.digitalresponse.com.au" target="_blank" style="color:white;text-decoration:none;"&gt;Site by Digital Response&lt;/a&gt;&lt;br/&gt;</copyright>
    <GenericPage id="1084" parentID="1071" level="2" writerID="1" creatorID="0" nodeType="1068" template="1073" sortOrder="2" createDate="2012-01-06T17:56:27" updateDate="2022-08-18T20:57:08" nodeName="Home" urlName="home" writerName="peterb" creatorName="admin" path="-1,1071,1084" isDoc="">
      <pageContent><![CDATA[
<div class="pmdesign-content">
<p style="font-weight: bold;">Enco Engineering is now part of PM
Design Group<br />
 <a href="https://www.pmdesign.com.au/" target="_blank">Visit PM
Design Group website<br />
<br />
</a></p>
</div>

<div class="project-content">
<p>Enco Engineering provides innovative structural and civil
engineering solutions&nbsp;to our clients. Our friendly staff can
provide these services to architects, building designers, builders,
developers and the general public. We pride ourselves on being an
easy to get along with company helping clients fulfill their
projects in a professionally and timely manner.</p>

<br />
<br />
 <img src="/media/2410/homepage.jpg" width="291" height="200" alt="Home feature"/></div>

<div class="project-content02">
<h4>Our Team</h4>

<p>Our company director Darren Cuttler has 29 year's experience in
the consulting industry. Darren leads a team of dedicated engineers
and drafts persons who can deliver the desired result to your
project.</p>

<br />
<h4>Memberships and Registrations</h4>

<ul class="homelist">
<li><a href="http://www.buildingcommission.com.au"
target="_blank">Registered Building Practitioners,
Victoria</a></li>

<li><a href="http://www.bpeq.qld.gov.au" target="_blank">Registered
Professional Engineers of Queensland</a></li>

<li><a href="http://www.engineersaustralia.org.au"
target="_blank">Members of the Institution of Engineers
Australia</a></li>
</ul>
</div>

<div class="project-content03">
<h4>Specialities</h4>

<ul class="homelist">
<li>Residential housing ranging from budget homes to luxury
homes</li>

<li>Residential apartment buildings</li>

<li>Basement design</li>

<li>Swimming pools</li>

<li>Industrial buildings</li>

<li>Commercial office buildings</li>

<li>Institutional buildings - schools, universities and
hospitals</li>
</ul>
</div>
]]></pageContent>
      <projecttitle>Enco Engineering - Part of PM Design Group - Services</projecttitle>
      <projectKeyword>Enco Engineering - Part of PM Design Group - Services</projectKeyword>
      <projectDiscription><![CDATA[Enco Engineering provides innovative structural and civil engineering solutions to our clients. Our friendly staff can provide these services to architects, building designers, builders, developers and the general public. We pride ourselves on being an easy to get along with company helping clients fulfill their projects in a professionally and timely manner.]]></projectDiscription>
      <copyright />
    </GenericPage>
    <GenericPage id="1085" parentID="1071" level="2" writerID="1" creatorID="0" nodeType="1068" template="1100" sortOrder="3" createDate="2012-01-06T17:56:40" updateDate="2022-08-18T20:57:52" nodeName="Projects" urlName="projects" writerName="peterb" creatorName="admin" path="-1,1071,1085" isDoc="">
      <Projects id="1163" parentID="1085" level="3" writerID="0" creatorID="0" nodeType="1161" template="1089" sortOrder="1" createDate="2012-01-09T17:31:10" updateDate="2012-05-14T12:52:03" nodeName="Residential-Housing-Project-1" urlName="residential-housing-project-1" writerName="admin" creatorName="admin" path="-1,1071,1085,1163" isDoc="">
        <slidePage>1091</slidePage>
        <projecttitle>Residential Housing Project 1</projecttitle>
        <projectKeyword>Residential Housing Project 1</projectKeyword>
        <projectDiscription><![CDATA[]]></projectDiscription>
        <copyright>
        </copyright>
      </Projects>
      <Projects id="1164" parentID="1085" level="3" writerID="0" creatorID="0" nodeType="1161" template="1089" sortOrder="2" createDate="2012-01-10T09:27:48" updateDate="2012-05-14T12:52:08" nodeName="Residential-Housing-Project-2" urlName="residential-housing-project-2" writerName="admin" creatorName="admin" path="-1,1071,1085,1164" isDoc="">
        <slidePage>1167</slidePage>
        <projecttitle>Residential Housing Project 2</projecttitle>
        <projectKeyword>Residential Housing Project 2</projectKeyword>
        <projectDiscription><![CDATA[]]></projectDiscription>
        <copyright>
        </copyright>
      </Projects>
      <Projects id="1170" parentID="1085" level="3" writerID="0" creatorID="0" nodeType="1161" template="1089" sortOrder="3" createDate="2012-01-10T11:30:33" updateDate="2012-05-14T12:52:12" nodeName="Large-industrial-building-Somerton" urlName="large-industrial-building-somerton" writerName="admin" creatorName="admin" path="-1,1071,1085,1170" isDoc="">
        <slidePage>1171</slidePage>
        <projecttitle>Large industrial building Somerton</projecttitle>
        <projectKeyword>Large industrial building Somerton</projectKeyword>
        <projectDiscription><![CDATA[]]></projectDiscription>
        <copyright>
        </copyright>
      </Projects>
      <Projects id="1176" parentID="1085" level="3" writerID="0" creatorID="0" nodeType="1161" template="1089" sortOrder="4" createDate="2012-01-10T15:02:32" updateDate="2012-05-14T12:52:17" nodeName="Office-Building" urlName="office-building" writerName="admin" creatorName="admin" path="-1,1071,1085,1176" isDoc="">
        <slidePage>1177</slidePage>
        <projecttitle>Office Building</projecttitle>
        <projectKeyword>Office Building</projectKeyword>
        <projectDiscription><![CDATA[]]></projectDiscription>
        <copyright>
        </copyright>
      </Projects>
      <Projects id="1190" parentID="1085" level="3" writerID="0" creatorID="0" nodeType="1161" template="1089" sortOrder="5" createDate="2012-01-10T15:21:49" updateDate="2012-05-14T12:52:22" nodeName="Shopping-Centre" urlName="shopping-centre" writerName="admin" creatorName="admin" path="-1,1071,1085,1190" isDoc="">
        <slidePage>1181</slidePage>
        <projecttitle>Shopping Centre</projecttitle>
        <projectKeyword>Shopping Centre</projectKeyword>
        <projectDiscription><![CDATA[]]></projectDiscription>
        <copyright>
        </copyright>
      </Projects>
      <Projects id="1191" parentID="1085" level="3" writerID="0" creatorID="0" nodeType="1161" template="1089" sortOrder="6" createDate="2012-01-10T15:22:08" updateDate="2012-05-14T12:52:26" nodeName="Factories" urlName="factories" writerName="admin" creatorName="admin" path="-1,1071,1085,1191" isDoc="">
        <slidePage>1228</slidePage>
        <projecttitle>Factories</projecttitle>
        <projectKeyword>Factories</projectKeyword>
        <projectDiscription><![CDATA[]]></projectDiscription>
        <copyright>
        </copyright>
      </Projects>
      <pageContent><![CDATA[]]></pageContent>
      <projecttitle>Enco Engineering - Part of PM Design Group - Projects</projecttitle>
      <projectKeyword>Enco Engineering - Part of PM Design Group - Projects</projectKeyword>
      <projectDiscription><![CDATA[Enco Engineering has completed a number of structural and civil engineering projects with a focus on structural and mechanical problem solving.]]></projectDiscription>
      <copyright />
    </GenericPage>
    <GenericPage id="1086" parentID="1071" level="2" writerID="1" creatorID="0" nodeType="1068" template="1215" sortOrder="4" createDate="2012-01-06T17:56:58" updateDate="2022-08-18T20:58:11" nodeName="Quote" urlName="quote" writerName="peterb" creatorName="admin" path="-1,1071,1086" isDoc="">
      <pageContent><![CDATA[
<div class="project-content">
<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
blanditiis praesetium voluptatum deleniti atque corrupti quos
dolores et quas molestias excepturi sint occaecati cupiditate non
provident, similique sunt in culpa qui officia deserunt mollitia
animi, id est laborum et dolorum fuga.</p>

<br />
<br />
 <img src="/images/imgP.jpg" alt="img01"/></div>

<div class="project-content02">
<h4>At vero eos et accusamus</h4>

<p>et iusto odio dignissimos ducimus qui blanditiis praesentium
voluptatum deleniti atque corrupti quos dolores et quas molestias
excepturi sint occaecati cupiditate non provident, similique sunt
in culpa qui officia deserunt mollitia animi, id Officiis debitis
aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae
sint et molestiae non recusandae. est laborum et dolorum fuga. Et
harum quidem rerum facilis est et expedita distinctio.</p>

<br />
<h4>Nam libero tempore</h4>

<p>Soluta nobis est eligendi optio cumque nihil impedit quo minus
id quod maxime placeat facere possimus, omnis voluptas assumenda
est, omnis dolor repellendus.</p>

<br />
<h4>Temporibus autem quibusdam</h4>

<p>Officiis debitis aut rerum necessitatibus saepe eveniet ut et
voluptates repudiandae sint et molestiae non recusandae.</p>

<br />
<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut
reiciendis voluptatibus maiores alias consequatur aut perferendis
doloribus asperiores repellat.</p>
</div>

<div class="project-content03">
<p>Riatis unde omnis iste natus error sit voluptatem accusantium
doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
inventore veritatis et quasi architecto beatae vitae dicta .</p>

<br />
<h4>Nemo enim ipsam</h4>

<p>voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
quia consequuntur magni dolores eos qui ratione voluptatem sequi
nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
sit amet, consectetur, adipisci velit, sed quia non numquam eius
modi tempora incidunt ut labore et dolore magnam aliquam quaerat
voluptatem.</p>

<br />
<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam
corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
consequatur? Quis autem vel eum iure reprehenderit qui in ea
voluptate velit esse quam nihil molestiae consequatur, vel illum
qui dolorem eum fugiat quo</p>

<br />
<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
consectetur, adipisci velit, sed quia non numquam eius modi tempora
incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
</div>
]]></pageContent>
      <projecttitle>Enco Engineering - Part of PM Design Group - Quote</projecttitle>
      <projectKeyword>Enco Engineering - Part of PM Design Group - Quote</projectKeyword>
      <projectDiscription><![CDATA[Request a Quote]]></projectDiscription>
      <copyright />
    </GenericPage>
    <GenericPage id="1087" parentID="1071" level="2" writerID="1" creatorID="0" nodeType="1068" template="1216" sortOrder="5" createDate="2012-01-06T17:57:22" updateDate="2022-08-18T20:58:56" nodeName="Contact" urlName="contact" writerName="peterb" creatorName="admin" path="-1,1071,1087" isDoc="">
      <pageContent><![CDATA[
<div style="text-align: left;"><span
style="color: #ffffff; font-size: small;"><span
style="line-height: 25px;"><br />
</span></span></div>
]]></pageContent>
      <projecttitle>Enco Engineering - Part of PM Design Group - Contact</projecttitle>
      <projectKeyword>Enco Engineering - Part of PM Design Group - Contact</projectKeyword>
      <projectDiscription><![CDATA[Suite 103, 313 Canterbury Rd Canterbury VIC 3126 Australia | Phone: +613 9830 0669 | Email: enco@encoengineering.com.au]]></projectDiscription>
      <copyright />
    </GenericPage>
  </Home>
  <Utility id="1074" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1058" template="0" sortOrder="3" createDate="2012-01-06T17:10:38" updateDate="2012-01-06T17:10:44" nodeName="Utility" urlName="utility" writerName="admin" creatorName="admin" path="-1,1074" isDoc="">
    <Navigation id="1075" parentID="1074" level="2" writerID="0" creatorID="0" nodeType="1060" template="0" sortOrder="1" createDate="2012-01-06T17:10:59" updateDate="2012-01-06T17:12:45" nodeName="MainMenu" urlName="mainmenu" writerName="admin" creatorName="admin" path="-1,1074,1075" isDoc="">
      <linktoDocument>
      </linktoDocument>
      <Navigation id="1076" parentID="1075" level="3" writerID="0" creatorID="0" nodeType="1060" template="0" sortOrder="1" createDate="2012-01-06T17:11:48" updateDate="2012-01-24T21:12:31" nodeName="Home" urlName="home" writerName="admin" creatorName="admin" path="-1,1074,1075,1076" isDoc="">
        <linktoDocument>1084</linktoDocument>
      </Navigation>
      <Navigation id="1079" parentID="1075" level="3" writerID="0" creatorID="0" nodeType="1060" template="0" sortOrder="4" createDate="2012-01-06T17:12:21" updateDate="2012-01-06T18:00:28" nodeName="Projects" urlName="projects" writerName="admin" creatorName="admin" path="-1,1074,1075,1079" isDoc="">
        <linktoDocument>1085</linktoDocument>
      </Navigation>
      <Navigation id="1080" parentID="1075" level="3" writerID="0" creatorID="0" nodeType="1060" template="0" sortOrder="5" createDate="2012-01-06T17:12:32" updateDate="2012-01-06T18:00:39" nodeName="Quote" urlName="quote" writerName="admin" creatorName="admin" path="-1,1074,1075,1080" isDoc="">
        <linktoDocument>1086</linktoDocument>
      </Navigation>
      <Navigation id="1081" parentID="1075" level="3" writerID="0" creatorID="0" nodeType="1060" template="0" sortOrder="6" createDate="2012-01-06T17:12:40" updateDate="2012-01-06T18:00:52" nodeName="Contact" urlName="contact" writerName="admin" creatorName="admin" path="-1,1074,1075,1081" isDoc="">
        <linktoDocument>1087</linktoDocument>
      </Navigation>
    </Navigation>
  </Utility>
</root>